<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <!--Page-->
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div>
      <!--Page Header-->
      <header class="page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-stick-up-offset="69px" data-xl-stick-up-offset="1px" data-xxl-stick-up-offset="1px">
            <div class="rd-navbar-inner">
              <!--RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!--RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img src="images/logo-200x32.png" alt="" width="200" height="32"/></a></div>
              </div>
              <!--RD Navbar Nav-->
              <div class="rd-navbar-nav-wrap">
                <ul class="rd-navbar-nav">
                  <li class="active"><a href="index.html">Home</a></li>
                  <li><a href="">Categorias</a>
                    <ul class="rd-navbar-dropdown">
                        <li><a href="concierto.html">Conciertos</a></li>
                        <li><a href="deporte.html">Deportes</a></li>
                        <li><a href="viajes.html">Viajes</a></li>
                        <li><a href="discos.html">Discos</a></li>
                    </ul>
                  </li>
                  <li><a href="nuevos.html">Nuevos</a></li>
                  <li><a href="nosotros.html">Nosotros</a></li>
                  <li><a href="contacts.html">Contacto</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <section class="text-center">
        <!--RD Parallax-->
        <div class="parallax-container bg-image parallax-header rd-parallax-light" data-parallax-img="images/hor.jpg">
          <div class="parallax-content">
            <div class="parallax-header__inner">
              <div class="parallax-header__content">
                <div class="container">
                  <div class="row justify-content-sm-center">
                    <div class="col-md-10 col-xl-8">
                      <h2>futbol ayacucho</h2>
                      <p>ayacucho de los mas peloteros</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="section-xl bg-default text-center">
        <div class="container">
          <div class="row row-30 justify-content-lg-center">
            <div class="col-lg-11 col-xl-9">
              <h3>FUTBOL AYACUCHO</h3>
              <p>futbol en todo categoria desde la liga 1 hasta futbol distrital.</p>
            </div>
          </div>
          <div class="row row-50 offset-top-1">
            <div class="col-md-6 col-lg-4">
              <!--Thumb corporate-->
              <div class="thumb thumb-corporate">
                <div class="thumb-corporate__main"><img src="images/f1.jpg" alt="" width="480" height="362"/>
                  <div class="thumb-corporate__overlay">
                    <ul class="list-inline-sm thumb-corporate__list">
                      <li><a class="icon icon-sm fa-facebook" href="#"></a></li>
                      <li><a class="icon icon-sm fa-twitter" href="#"></a></li>
                      <li><a class="icon icon-sm fa-google-plus" href="#"></a></li>
                      <li><a class="icon icon-sm fa-vimeo" href="#"></a></li>
                      <li><a class="icon icon-sm fa-youtube" href="#"></a></li>
                      <li><a class="icon icon-sm fa-pinterest-p" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="thumb-corporate__caption">
                  <p class="thumb__title"><a href="#">Brian King</a></p>
                  <p class="thumb__subtitle">Director</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <!--Thumb corporate-->
              <div class="thumb thumb-corporate">
                <div class="thumb-corporate__main"><img src="images/f2.jpg" alt="" width="480" height="362"/>
                  <div class="thumb-corporate__overlay">
                    <ul class="list-inline-sm thumb-corporate__list">
                      <li><a class="icon icon-sm fa-facebook" href="#"></a></li>
                      <li><a class="icon icon-sm fa-twitter" href="#"></a></li>
                      <li><a class="icon icon-sm fa-google-plus" href="#"></a></li>
                      <li><a class="icon icon-sm fa-vimeo" href="#"></a></li>
                      <li><a class="icon icon-sm fa-youtube" href="#"></a></li>
                      <li><a class="icon icon-sm fa-pinterest-p" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="thumb-corporate__caption">
                  <p class="thumb__title"><a href="#">Amanda Smith</a></p>
                  <p class="thumb__subtitle">Marketing manager</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <!--Thumb corporate-->
              <div class="thumb thumb-corporate">
                <div class="thumb-corporate__main"><img src="images/f3.jpg" alt="" width="418" height="315"/>
                  <div class="thumb-corporate__overlay">
                    <ul class="list-inline-sm thumb-corporate__list">
                      <li><a class="icon icon-sm fa-facebook" href="#"></a></li>
                      <li><a class="icon icon-sm fa-twitter" href="#"></a></li>
                      <li><a class="icon icon-sm fa-google-plus" href="#"></a></li>
                      <li><a class="icon icon-sm fa-vimeo" href="#"></a></li>
                      <li><a class="icon icon-sm fa-youtube" href="#"></a></li>
                      <li><a class="icon icon-sm fa-pinterest-p" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="thumb-corporate__caption">
                  <p class="thumb__title"><a href="#">George Nelson</a></p>
                  <p class="thumb__subtitle">Designer</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row row-50 offset-top-1">
            <div class="col-md-6 col-lg-4">
              <!--Thumb corporate-->
              <div class="thumb thumb-corporate">
                <div class="thumb-corporate__main"><img src="images/f4.jpg" alt="" width="480" height="362"/>
                  <div class="thumb-corporate__overlay">
                    <ul class="list-inline-sm thumb-corporate__list">
                      <li><a class="icon icon-sm fa-facebook" href="#"></a></li>
                      <li><a class="icon icon-sm fa-twitter" href="#"></a></li>
                      <li><a class="icon icon-sm fa-google-plus" href="#"></a></li>
                      <li><a class="icon icon-sm fa-vimeo" href="#"></a></li>
                      <li><a class="icon icon-sm fa-youtube" href="#"></a></li>
                      <li><a class="icon icon-sm fa-pinterest-p" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="thumb-corporate__caption">
                  <p class="thumb__title"><a href="#">Brian King</a></p>
                  <p class="thumb__subtitle">Director</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <!--Thumb corporate-->
              <div class="thumb thumb-corporate">
                <div class="thumb-corporate__main"><img src="images/f5.jpg" alt="" width="480" height="362"/>
                  <div class="thumb-corporate__overlay">
                    <ul class="list-inline-sm thumb-corporate__list">
                      <li><a class="icon icon-sm fa-facebook" href="#"></a></li>
                      <li><a class="icon icon-sm fa-twitter" href="#"></a></li>
                      <li><a class="icon icon-sm fa-google-plus" href="#"></a></li>
                      <li><a class="icon icon-sm fa-vimeo" href="#"></a></li>
                      <li><a class="icon icon-sm fa-youtube" href="#"></a></li>
                      <li><a class="icon icon-sm fa-pinterest-p" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="thumb-corporate__caption">
                  <p class="thumb__title"><a href="#">Amanda Smith</a></p>
                  <p class="thumb__subtitle">Marketing manager</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <!--Thumb corporate-->
              <div class="thumb thumb-corporate">
                <div class="thumb-corporate__main"><img src="images/f6.jpg" alt="" width="418" height="315"/>
                  <div class="thumb-corporate__overlay">
                    <ul class="list-inline-sm thumb-corporate__list">
                      <li><a class="icon icon-sm fa-facebook" href="#"></a></li>
                      <li><a class="icon icon-sm fa-twitter" href="#"></a></li>
                      <li><a class="icon icon-sm fa-google-plus" href="#"></a></li>
                      <li><a class="icon icon-sm fa-vimeo" href="#"></a></li>
                      <li><a class="icon icon-sm fa-youtube" href="#"></a></li>
                      <li><a class="icon icon-sm fa-pinterest-p" href="#"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="thumb-corporate__caption">
                  <p class="thumb__title"><a href="#">George Nelson</a></p>
                  <p class="thumb__subtitle">Designer</p>
                </div>
              </div>
            </div>
          </div>


        </div>
      </section>





      <section class="section-lg bg-default">
        <div class="container">
          <div class="row row-50">
            <div class="col-md-6">
              <h3>Mision</h3>
              <p> Somos una empresa con más de veinte años de experiencia en la distribución y venta de entradas para eventos de diferentes actividades, ya sea musicales, culturales, teatrales, etc.

En este tiempo hemos atendido más de mil eventos, entre ellos Feria Taurina del Señor de los Milagros, Temporadas de Ópera, Temporadas de Ballet, Eliminatorias de Campeonato Mundial de Fútbol y Voley, Copa Davis, conciertos de Shakira, Luis Miguel, Juan Luis Guerra, Juan Diego Florez, Roger Waters, Soda Stereo, Oasis, Andrea Boccelli, Jonas Brothers, entre otros</p>
            </div>
            <div class="col-md-6">
              <h3>Vision</h3>
              <p>Contamos con 51 puntos de venta ubicados en las principales tiendas Wong y Metro, donde nuestros clientes pueden adquirir las entradas de su preferencia a los principales espectáculos que se realizan en la ciudad de Lima y a nivel nacional, con la comodidad que caracteriza a las tiendas Wong y Metro, utilizando el sistema interconectado y computarizado de Teleticket. 

Adicionalmente, nuestros clientes pueden adquirir pasajes de transporte terrestre en nuestros puntos de venta. </p>
            </div>
          </div>
        </div>
      </section>
    




      


      <!--Page Footer-->
      <section class="pre-footer-corporate">
        <div class="container">
          <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
            <div class="col-sm-10 col-md-6 col-lg-10 col-xl-3">
              <h6>About</h6>
              <p>Monstroid² is HTML template that fits for both developers and beginners. It comes loaded with an assortment of tools and features that make customization process much easier. A pack of child themes, provided with the full version of this template, allows users to create a fully functional site for any specific business quickly and worry-free.</p>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-3 col-xl-3">
              <h6>Quick Links</h6>
              <ul class="list-xxs">
                <li><a href="#">Retina Homepage</a></li>
                <li><a href="#">New Page Examples</a></li>
                <li><a href="#">Parallax Sections</a></li>
                <li><a href="#">Shortcode Central</a></li>
                <li><a href="#">Ultimate Font Collection</a></li>
              </ul>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-5 col-xl-3">
              <h6>Recent Comments</h6>
              <ul class="list-xs">
                <li>
                  <!--Comment minimal-->
                  <article class="comment-minimal">
                    <p class="comment-minimal__author">Brian Williamson on</p>
                    <p class="comment-minimal__link"><a href="#">Site Speed and Search Engines Optimization Aspects</a></p>
                  </article>
                </li>
                <li>
                  <!--Comment minimal-->
                  <article class="comment-minimal">
                    <p class="comment-minimal__author">Brian Williamson on</p>
                    <p class="comment-minimal__link"><a href="#">5 Things to Know Before You Buy an HTML Template</a></p>
                  </article>
                </li>
                <li>
                  <!--Comment minimal-->
                  <article class="comment-minimal">
                    <p class="comment-minimal__author">Brian Williamson on</p>
                    <p class="comment-minimal__link"><a href="#">Turning Your Site into a Sales Machine</a></p>
                  </article>
                </li>
              </ul>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
              <h6>Contacts</h6>
              <ul class="list-xs">
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Address</dt>
                    <dd>4578 Marmora Road, Glasgow, D04 89GR</dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Phones</dt>
                    <dd>
                      <ul class="list-semicolon">
                        <li><a href="tel:#">(800) 123-0045</a></li>
                        <li><a href="tel:#">(800) 123-0045</a></li>
                      </ul>
                    </dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>E-mail</dt>
                    <dd><a href="mailto:#">info@demolink.org</a></dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>We are open</dt>
                    <dd>Mn-Fr: 10 am-8 pm</dd>
                  </dl>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer-corporate">
        <div class="container">
          <div class="footer-corporate__inner">
            <p class="rights">Monstroid&#178;&nbsp;&copy; <span class="copyright-year"></span>.
              Design&nbsp;by&nbsp;<a href="https://www.templatemonster.com">TemplateMonster</a>
            </p>
            <ul class="list-inline-xxs">
              <li><a class="icon icon-xxs icon-primary fa fa-facebook" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-twitter" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-google-plus" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-vimeo" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-youtube" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-pinterest" href="#"></a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <!--Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!--Javascript-->
    <script src="js/core.min.js" defer></script>
    <script src="js/script.js" defer></script>
  </body>
</html>