<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Typography</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Libre+Franklin:200,300,500,600,300italic">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <!--Page-->
    <div class="page">
      <div id="page-loader">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
      </div><a class="section section-banner d-none d-xl-flex" href="//www.templatemonster.com/website-templates/monstroid2.html" style="background-image: url(images/banner/banner-bg-04-1920x60.jpg); background-image: -webkit-image-set( url(images/banner/banner-bg-04-1920x60.jpg) 1x, url(images/banner/banner-bg-04-3840x120.jpg) 2x )"><img src="images/banner/banner-fg-04-1600x60.png" srcset="images/banner/banner-fg-04-1600x60.png 1x, images/banner/banner-fg-04-3200x120.png 2x" alt="" width="1600" height="310"></a>
      <!--Page Header-->
      <header class="page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true" data-lg-stick-up-offset="69px" data-xl-stick-up-offset="1px" data-xxl-stick-up-offset="1px">
            <div class="rd-navbar-inner">
              <!--RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!--RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img src="images/logo-200x32.png" alt="" width="200" height="32"/></a></div>
              </div>
              <!--RD Navbar Nav-->
              <div class="rd-navbar-nav-wrap">
                <ul class="rd-navbar-nav">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li class="active"><a href="typography.html">Typography</a></li>
                  <li><a href="contacts.html">Contacts</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="breadcrumbs-custom">
        <div class="container">
          <div class="breadcrumbs-custom__inner">
            <p class="breadcrumbs-custom__title">Typography</p>
            <ul class="breadcrumbs-custom__path">
              <li><a href="index.html">Home</a></li>
              <li class="active">Typography</li>
            </ul>
          </div>
        </div>
      </section>
      <div class="section-md section-divided">
        <div class="container">
          <div class="row row-50 row-md-75">
            <div class="col-lg-8 section-divided__main">
              <!--Base typography-->
              <section class="section-md">
                <h5>Typography</h5>
                <ul class="list-md">
                  <li>
                    <h1>H1 Heading</h1>
                    <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                  </li>
                  <li>
                    <h2>H2 Heading</h2>
                    <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                  </li>
                  <li>
                    <h3>H3 Heading</h3>
                    <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                  </li>
                  <li>
                    <h4>H4 Heading</h4>
                    <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                  </li>
                  <li>
                    <h5>H5 Heading</h5>
                    <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                  </li>
                  <li>
                    <h6>H6 Heading</h6>
                    <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                  </li>
                </ul>
              </section>
              <!--Unordered list-->
              <section class="section-md">
                <h5>Unordered list</h5>
                <ul class="list-marked">
                  <li>10 Reasons to Buy Monstroid<sup>2</sup>.</li>
                  <li>Getting to another  level of design</li>
                  <li>Clean Style. Cons and Pros.</li>
                </ul>
              </section>
              <!--Ordered list-->
              <section class="section-md">
                <h5>Ordered list</h5>
                <ul class="list-ordered">
                  <li>10 Reasons to Buy Monstroid<sup>2</sup>.</li>
                  <li>Getting to another  level of design</li>
                  <li>Clean Style. Cons and Pros.</li>
                </ul>
              </section>
              <!--Blockquotes-->
              <section class="section-md">
                <h5>Blockquotes</h5>
                <!--Quote centered-->
                <div class="quote-centered">
                  <svg class="quote-centered__mark" version="1.1" baseprofile="tiny" x="0px" y="0px" width="30.234px" height="23.484px" viewbox="0 0 30.234 23.484">
                    <g>
                      <path d="M12.129,0v1.723c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959 c0,0.445,0.07,0.773,0.211,0.984c0.093,0.141,0.199,0.211,0.316,0.211c0.117,0,0.293-0.082,0.527-0.246 c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.519,0.545,3.551,1.635c1.031,1.09,1.547,2.385,1.547,3.885 c0,1.57-0.592,2.953-1.775,4.148c-1.184,1.195-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426 C0.715,19.441,0,17.274,0,14.555c0-3.164,0.972-6,2.918-8.508C4.863,3.539,7.933,1.524,12.129,0z M29.039,0v1.723 c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959c0,0.445,0.07,0.773,0.211,0.984 c0.094,0.141,0.199,0.211,0.316,0.211s0.293-0.082,0.527-0.246c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.52,0.545,3.551,1.635 s1.547,2.385,1.547,3.885c0,1.57-0.592,2.953-1.775,4.148s-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426 s-2.145-3.785-2.145-6.504c0-3.164,0.973-6,2.918-8.508C21.773,3.539,24.844,1.524,29.039,0z"></path>
                    </g>
                  </svg>
                  <div class="quote-centered__text">
                    <p class="q">Monstroid² is perfect to display the members of your staff, team or working force. </p>
                  </div>
                  <p class="quote-centered__cite">Adam Smith</p>
                </div>
              </section>
              <!--Some other styles-->
              <section class="section-md">
                <h5>Some other styles</h5>
                <p class="first-letter">Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers.</p>
                <ul class="list-xxs">
                  <li>
                    <dl class="list-terms-inline">
                      <dt>Bold Text</dt>
                      <dd><span class="text-medium">Whether you found me on YouTube</span></dd>
                    </dl>
                  </li>
                  <li>
                    <dl class="list-terms-inline">
                      <dt>Italic</dt>
                      <dd><span class="font-italic">Whether you found me on YouTube</span></dd>
                    </dl>
                  </li>
                  <li>
                    <dl class="list-terms-inline">
                      <dt>Strike-through</dt>
                      <dd><span class="text-strike">Whether you found me on YouTube</span></dd>
                    </dl>
                  </li>
                  <li>
                    <dl class="list-terms-inline">
                      <dt>Link</dt>
                      <dd><a href="#">Whether you found me on YouTube</a></dd>
                    </dl>
                  </li>
                  <li>
                    <dl class="list-terms-inline">
                      <dt>Inline Code</dt>
                      <dd><code>Whether you found me on YouTube</code></dd>
                    </dl>
                  </li>
                </ul>
              </section>
              <!--Centre aligned image-->
              <section class="section-md">
                <h5>Centre aligned image</h5>
                <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                <div class="figure-centered">
                  <figure class="figure"><img src="images/typography-1-418x315.jpg" alt="" width="418" height="315"/>
                  </figure>
                </div>
              </section>
              <!--Left aligned image-->
              <section class="section-md">
                <h5>Left aligned image</h5>
                <div class="row flex-md-row-reverse row-30">
                  <div class="col-md-6">
                    <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                  </div>
                  <div class="col-md-6">
                    <figure class="figure"><img src="images/typography-2-418x315.jpg" alt="" width="418" height="315"/>
                    </figure>
                  </div>
                </div>
              </section>
              <!--Right aligned image-->
              <section class="section-md">
                <h5>Right aligned image</h5>
                <div class="row row-30">
                  <div class="col-md-6">
                    <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                  </div>
                  <div class="col-md-6">
                    <figure class="figure"><img src="images/typography-3-418x315.jpg" alt="" width="418" height="315"/>
                    </figure>
                  </div>
                </div>
              </section>
              <!-- Large image-->
              <section class="section-md">
                <h5>Large image</h5>
                <p>Welcome to our wonderful world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page.</p>
                <figure class="figure"><img src="images/typography-4-886x668.jpg" alt="" width="886" height="668"/>
                </figure>
              </section>
            </div>
            <div class="col-lg-4 section-divided__aside">
              <!--Categories-->
              <section class="section-md">
                <h5>Categories</h5>
                <ul class="list-linked">
                  <li><a href="#">Retina Homepage</a></li>
                  <li><a href="#">New Page Examples</a></li>
                  <li><a href="#">Parallax Sections</a></li>
                  <li><a href="#">Shortcode Central</a></li>
                  <li><a href="#">Ultimate Font Collection</a></li>
                </ul>
              </section>
              <!--Posts-->
              <section class="section-md">
                <h5>Latest Posts</h5>
                <ul class="list-sm">
                  <li>
                    <!--Post inline-->
                    <article class="post-inline">
                      <div class="post-inline__header"><span class="post-inline__time">Jan.20, 2019</span><span class="post-inline__author">by Brian Williamson</span></div>
                      <p class="post-inline__link"><a href="#">How to Use Bootstrap Framework</a></p>
                    </article>
                  </li>
                  <li>
                    <!--Post inline-->
                    <article class="post-inline">
                      <div class="post-inline__header"><span class="post-inline__time">Jan.20, 2019</span><span class="post-inline__author">by Brian Williamson</span></div>
                      <p class="post-inline__link"><a href="#">5 Things to Know Before You Buy an HTML Template</a></p>
                    </article>
                  </li>
                  <li>
                    <!--Post inline-->
                    <article class="post-inline">
                      <div class="post-inline__header"><span class="post-inline__time">Jan.20, 2019</span><span class="post-inline__author">by Brian Williamson</span></div>
                      <p class="post-inline__link"><a href="#">Installing Your First HTML Template</a></p>
                    </article>
                  </li>
                </ul>
              </section>
              <!--Tags-->
              <section class="section-md">
                <h5>Tags</h5>
                <ul class="list-tags">
                  <li><a href="#">Retina Homepage</a></li>
                  <li><a href="#">New Page Examples</a></li>
                  <li><a href="#">Ultimate Font Collection</a></li>
                  <li><a href="#">Parallax Sections</a></li>
                  <li><a href="#">Shortcode Central</a></li>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div><a class="section section-banner" href="//www.templatemonster.com/website-templates/monstroid2.html" style="background-image: url(images/banner/banner-bg-03-1920x310.jpg); background-image: -webkit-image-set( url(images/banner/banner-bg-03-1920x310.jpg) 1x, url(images/banner/banner-bg-03-3840x620.jpg) 2x )"><img src="images/banner/banner-fg-03-1600x310.png" srcset="images/banner/banner-fg-03-1600x310.png 1x, images/banner/banner-fg-03-3200x620.png 2x" alt="" width="1600" height="310"></a>
      <!--Page Footer-->
      <section class="pre-footer-corporate">
        <div class="container">
          <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
            <div class="col-sm-10 col-md-6 col-lg-10 col-xl-3">
              <h6>About</h6>
              <p>Monstroid² is HTML template that fits for both developers and beginners. It comes loaded with an assortment of tools and features that make customization process much easier. A pack of child themes, provided with the full version of this template, allows users to create a fully functional site for any specific business quickly and worry-free.</p>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-3 col-xl-3">
              <h6>Quick Links</h6>
              <ul class="list-xxs">
                <li><a href="#">Retina Homepage</a></li>
                <li><a href="#">New Page Examples</a></li>
                <li><a href="#">Parallax Sections</a></li>
                <li><a href="#">Shortcode Central</a></li>
                <li><a href="#">Ultimate Font Collection</a></li>
              </ul>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-5 col-xl-3">
              <h6>Recent Comments</h6>
              <ul class="list-xs">
                <li>
                  <!--Comment minimal-->
                  <article class="comment-minimal">
                    <p class="comment-minimal__author">Brian Williamson on</p>
                    <p class="comment-minimal__link"><a href="#">Site Speed and Search Engines Optimization Aspects</a></p>
                  </article>
                </li>
                <li>
                  <!--Comment minimal-->
                  <article class="comment-minimal">
                    <p class="comment-minimal__author">Brian Williamson on</p>
                    <p class="comment-minimal__link"><a href="#">5 Things to Know Before You Buy an HTML Template</a></p>
                  </article>
                </li>
                <li>
                  <!--Comment minimal-->
                  <article class="comment-minimal">
                    <p class="comment-minimal__author">Brian Williamson on</p>
                    <p class="comment-minimal__link"><a href="#">Turning Your Site into a Sales Machine</a></p>
                  </article>
                </li>
              </ul>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
              <h6>Contacts</h6>
              <ul class="list-xs">
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Address</dt>
                    <dd>4578 Marmora Road, Glasgow, D04 89GR</dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Phones</dt>
                    <dd>
                      <ul class="list-semicolon">
                        <li><a href="tel:#">(800) 123-0045</a></li>
                        <li><a href="tel:#">(800) 123-0045</a></li>
                      </ul>
                    </dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>E-mail</dt>
                    <dd><a href="mailto:#">info@demolink.org</a></dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>We are open</dt>
                    <dd>Mn-Fr: 10 am-8 pm</dd>
                  </dl>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer-corporate">
        <div class="container">
          <div class="footer-corporate__inner">
            <p class="rights">Monstroid&#178;&nbsp;&copy; <span class="copyright-year"></span>.
              Design&nbsp;by&nbsp;<a href="https://www.templatemonster.com">TemplateMonster</a>
            </p>
            <ul class="list-inline-xxs">
              <li><a class="icon icon-xxs icon-primary fa fa-facebook" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-twitter" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-google-plus" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-vimeo" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-youtube" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-pinterest" href="#"></a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <!--Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!--Javascript-->
    <script src="js/core.min.js" defer></script>
    <script src="js/script.js" defer></script>
  </body>
</html>