<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bdentrada</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <mapping class="pe.edu.unsch.entities.Categoria"/>
  <mapping class="pe.edu.unsch.entities.Comprador"/>
  <mapping class="pe.edu.unsch.entities.Cuenta"/>
  <mapping class="pe.edu.unsch.entities.Entrada"/>
  <mapping class="pe.edu.unsch.entities.Pago"/>
  <mapping class="pe.edu.unsch.entities.Rol"/>
  <mapping class="pe.edu.unsch.entities.Servicio"/>
 </session-factory>
</hibernate-configuration>
