<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="head">

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title th:text="${titulo}"></title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link th:href="@{/public/css/font-awesome.css}" rel="stylesheet">
    <link th:href="@{/public/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/public/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/public/css/owl.carousel.css}" rel="stylesheet">
    <link th:href="@{/public/css/owl.theme.css}" rel="stylesheet">

    <!-- theme stylesheet -->
    <link th:href="@{/public/css/style.default.css}" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link th:href="@{/public/css/custom.css}" rel="stylesheet">

    <script th:src="@{/public/js/respond.min.js}"></script>

    <link rel="shortcut icon" th:href="@{/favicon.png}">

</head>

<body>

    <!-- *** TOPBAR Y NAVBAR ***
 _________________________________________________________ -->
	
	<div th:fragment="header">
		<div th:replace="views/public/layout/header"></div>
	</div>
	
    <!-- *** TOPBAR Y NAVBAR END *** -->



    <div id="all">
    <!-- *** CONTENT ***
 _________________________________________________________ -->		
        <div id="content">
			
        </div>
        <!-- /#content -->

        <!-- *** FOOTER Y COPYRIGHT ***
 _________________________________________________________ -->
        <div th:fragment="footer">
			<div th:replace="views/public/layout/footer"></div>
		</div>

        <!-- *** FOOTER Y COPYRIGHT END *** -->

    </div>
    <!-- /#all -->


    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script th:src="@{/public/js/jquery-1.11.0.min.js}"></script>
    <script th:src="@{/public/js/bootstrap.min.js}"></script>
    <script th:src="@{/public/js/jquery.cookie.js}"></script>
    <script th:src="@{/public/js/waypoints.min.js}"></script>
    <script th:src="@{/public/js/modernizr.js}"></script>
    <script th:src="@{/public/js/bootstrap-hover-dropdown.js}"></script>
    <script th:src="@{/public/js/owl.carousel.min.js}"></script>
    <script th:src="@{/public/js/front.js}"></script>


</body>

</html>